version: 2

experimental:
  notify:
    branches:
      only:
        - master

jobs:
  lint:
    working_directory: ~/rainforestapp/tester-chrome-extension
    docker:
      - image: circleci/node:6.14
        environment:
          MOCHA_FILE: $CIRCLE_TEST_REPORTS/junit/test-results.xml
    steps:
      - checkout
      - restore_cache:
          key: v1-tester-chrome-{{ checksum "package.json" }}
      - run:
          name: NPM install
          command: npm install
      - run:
          name: Lint source
          command: npm run lint
  test:
    working_directory: ~/rainforestapp/tester-chrome-extension
    docker:
      - image: circleci/node:6.14
        environment:
          MOCHA_FILE: $CIRCLE_TEST_REPORTS/junit/test-results.xml
    steps:
      - checkout
      - restore_cache:
          key: v1-tester-chrome-{{ checksum "package.json" }}
      - run:
          name: NPM install
          command: npm install
      - save_cache:
          key: v1-tester-chrome-{{ checksum "package.json" }}
          paths:
            - ~/rainforestapp/tester-chrome-extension/node_modules
      - run:
          name: Run tests
          command: npm run test:ci
      - run:
          name: Build
          command: npm run build
      - persist_to_workspace:
          root: .
          paths: build
  merge_to_master:
    docker:
      - image: rainforestapp/circlemator:latest
    steps:
      - run:
          name: Merge to master
          command: circlemator self-merge --base-branch=master --compare-branch=develop
  upload_staging:
    working_directory: ~/rainforestapp/tester-chrome-extension
    docker:
      - image: circleci/node:6.14
        environment:
          MOCHA_FILE: $CIRCLE_TEST_REPORTS/junit/test-results.xml
    steps:
      - checkout
      - run:
          name: Install awscli
          command: sudo apt-get -y -qq install awscli
      - restore_cache:
          key: v1-tester-chrome-extension-{{ checksum "package.json" }}
      - run:
          name: NPM install
          command: npm install
      - run:
          name: Build stage
          command: ./deploy stg
      - run:
          name: Move extension manifest
          command: mv staging_manifest.json extension/manifest.json
      - run:
          name: Zip extension
          command: cd extension && mkdir /tmp/extension && zip -r /tmp/extension/extension-$CIRCLE_SHA1.zip . -x *.git* -x circle.yml -x *.DS_Store*
      - store_artifacts:
          path: /tmp/extension
  upload_release_gcs:
    working_directory: ~/rainforestapp/tester-chrome-extension
    docker:
      - image: rainforestapp/helm-deploy:latest
    steps:
      - attach_workspace:
          at: ~/rainforestapp/tester-chrome-extension
      - run:
          name: Log into GCP
          command: gcp-login
      - run:
          name: Upload to GCS
          command: |
            gsutil cp -r build "gs://static.rnfrst.com/$CIRCLE_SHA1"
            gsutil cp -r build "gs://static.rnfrst-stg.biz/$CIRCLE_SHA1"
            gsutil cp -r build "gs://static.rainforestqa.biz/$CIRCLE_SHA1"
            gsutil cp -r build "gs://static.rainforestqa.com/$CIRCLE_SHA1"
  update_staging_sha:
    docker:
      - image: rainforestapp/heroku-deploy:latest
    steps:
      - checkout
      - run:
          name: Setup Heroku
          command: /scripts/setup.sh
      - run:
          name: Update staging SHA
          command: |
            heroku config:set PLUGIN_VERSION=$CIRCLE_SHA1 -a schrute-stg
  update_staging_sha_gke:
    docker:
      - image: rainforestapp/helm-deploy:latest
    steps:
      - checkout
      - run:
          name: Login to gcp
          command: gcp-login
      - run:
          name: Login to staging cluster
          command: gcloud container clusters get-credentials staging --project rf-stg --zone us-east1-b
      - run:
          name: Update staging SHA
          command: |
            if [ "$(kubectl get configmap schrute-config -n staging -o json | jq -r '.data.PLUGIN_VERSION')" != "$CIRCLE_SHA1" ]; then
                kubectl patch configmap schrute-config -n staging -p "{\"data\":{\"PLUGIN_VERSION\":\"$CIRCLE_SHA1\"}}"
                restart schrute-staging
            fi
  run_rainforest:
    docker:
      - image: rainforestapp/rainforest-cli:latest
    steps:
      - run:
          name: Run Rainforest
          command:
            rainforest-cli run --token "$RAINFOREST_TOKEN" --environment-id 356 --folder 3982 --conflict abort --description "tester-chrome-extension - $CIRCLE_BRANCH $CIRCLE_BUILD_NUM"
  upload_production:
    docker:
      - image: circleci/node:6.14
        environment:
          MOCHA_FILE: $CIRCLE_TEST_REPORTS/junit/test-results.xml
    steps:
      - checkout
      - run:
          name: Install awscli
          command: sudo apt-get -y -qq install awscli
      - restore_cache:
          key: v1-tester-chrome-extension-{{ checksum "package.json" }}
      - run:
          name: NPM install
          command: npm install
      - run:
          name: Build stage
          command: ./deploy prd
      - run:
          name: Move extension manifest
          command: mv production_manifest.json extension/manifest.json
      - run:
          name: Zip extension
          command: cd extension && mkdir /tmp/extension && zip -r extension-$CIRCLE_SHA1.zip . -x *.git* -x circle.yml -x *.DS_Store*
      - store_artifacts:
          path: /tmp/extension
  update_production_sha:
    docker:
      - image: rainforestapp/heroku-deploy:latest
    steps:
      - checkout
      - run:
          name: Setup Heroku
          command: /scripts/setup.sh
      - run:
          name: Update production SHA
          command: |
            heroku config:set PLUGIN_VERSION=$CIRCLE_SHA1 -a schrute-prd

workflows:
  version: 2
  test_and_deploy:
    jobs:
      - lint:
          filters:
            branches:
              ignore:
                - master
                - develop
      - test
      - upload_staging:
          requires:
            - test
          filters:
            branches:
              only:
                - develop
      - update_staging_sha:
          requires:
            - upload_staging
          filters:
            branches:
              only:
                - develop
      - run_rainforest:
          requires:
            - update_staging_sha
          filters:
            branches:
              only:
                - develop
      - merge_to_master:
          requires:
            - run_rainforest
          filters:
            branches:
              only:
                - develop
      - upload_production:
          filters:
            branches:
              only:
                - master
      - update_production_sha:
          requires:
            - upload_production
          filters:
            branches:
              only:
                - master

      - upload_release_gcs:
          requires:
            - test
      - update_staging_sha_gke:
          requires:
            - upload_release_gcs
          filters:
            branches:
              only:
                - master
